<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604367160297-hpfrq3or0qf2rjk221i7njf5nv6jttoa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604367160297-hpfrq3or0qf2rjk221i7njf5nv6jttoa</string>
	<key>API_KEY</key>
	<string>AIzaSyCZwULZScBgNIxJK3zXLV-fA2Po_w_iptE</string>
	<key>GCM_SENDER_ID</key>
	<string>604367160297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.salaryfitsFlutter</string>
	<key>PROJECT_ID</key>
	<string>salaryfits-ps</string>
	<key>STORAGE_BUCKET</key>
	<string>salaryfits-ps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604367160297:ios:86e9c224a622bdaf59c178</string>
</dict>
</plist>